#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(245, 253, 253);
    width: 700px;
    margin: auto;
    box-shadow: 5px 4px 11px rgb(152, 232, 102);
    border-radius: 10px;

}
button{
    font-size: 1.5rem;
    padding: 10px 15px ;
    border-radius: 10px ;
    border: none;
    background-color: hsl(251, 66%, 32%)  ;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
   
   
}
button:hover{
    background-color: hsl(251, 50%, 45%)  ;
    border: none;
}
button:active{
    background-color: hsl(251, 55%, 57%)  ;
}
input{
    font-size:2rem;  
    width: 150px;
    text-align: center ;
    font-weight: bold;
}
#dice_result{
    margin: 25px;
}
#dice_images img{
  width: 150px;
  margin: 5px;
  
}